mixin banner-top(img, heading, text1, text2, textsp1, textsp2)
    - var attributes = {};
    - attributes.src = img;
    - attributes.alt = heading + ' banner';
    .common__banner
        .common__banner_wrap
            img.bg_banner&attributes(attributes)
            .banner-txt
                h1.heading_txt= heading
                h3.banner_title
                    p.pc= text1
                    p.sp= textsp1
                    p.pc= text2
                    p.sp= textsp2
            .activity__overlay